@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

@theme {
  --color-fd-primary: hsl(249, 89%, 47%);
  --color-fd-primary-foreground: hsl(0, 0%, 98%);
}

.dark {
  --color-fd-primary: hsl(249, 89%, 57%);
  --color-fd-primary-foreground: hsl(0, 0%, 98%);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
